.featured-article .flex-parent-container{
    display:flex;
    flex-direction: column;
    /* line-height: 2; */
    /* position:relative; */
}
.featured-article .primary-container{
    padding:34px;
     background-color:#f1f0f0;
   line-height:2;
     
      /* flex:1; */
}
.featured-article .secondary-container{
   /* flex:1; */
  background-color:#f1f0f0;
  line-height:2;
   
}
.featured-article .primary-container p:nth-of-type(1){
    font-size: 18px;
    
    margin: 0 0 13.5px;
    text-align: justify;
    font-weight:600;
}
.featured-article .primary-container h2{
     font-size: 36px;
     font-weight: normal;
}
.featured-article .primary-container p:nth-of-type(2){
      font-size: 16px;
}
.featured-article .primary-container p:nth-of-type(3){
     font-size: 12px;
}

.featured-article .primary-container  p:nth-of-type(3) a{
    font-size: 14px;
    border-radius:0;
    background-color: #ffea00;
    color:black;
    font-weight: 600;
    padding:14px 34px;

}
.featured-article .secondary-container img{
      
    /* object-fit: cover; */
    /* object-fit: cover; */
/* width:1500px; */
/* box-sizing: border-box; */
/* flex:1; */
object-fit:cover;
height:500px;


}
@media (width >= 768px) {
    .featured-article .flex-parent-container{
        flex-direction:row-reverse;
    }
     .featured-article.primary-container{
        background-color:#f1f0f0;
    }
    .featured-article .secondary-container p{
        padding:0;
        margin:0;
    }
   
  }