.custom-cards-container{
    font-family: var(--fontFamilySerif, "Asar", Georgia, "Times New Roman", Times, serif);
    margin:16px;
    padding:5px;
    padding-right:14px;
}
.custom-cards{
  margin-bottom:70px;
}
#magazine{
    font-size:40px;
    font-weight:normal;
    padding-left:12px;
 font-family: var(--fontFamilySerif, "Asar", Georgia, "Times New Roman", Times, serif);
}
.custom-cards h2{
    font-weight: normal;
}

#members-only:after{
    border-bottom: 2px solid var(--brandPrimary, #ffea00);
    content: "";
    display: block;
    padding-top: 8px;
    width: 84px;
}

@media (width >= 900px) {
    .custom-cards-container h1{
    /* padding-left:30px; */
}
}


.flex-parent-container{
    display:flex;
    flex-direction: column;
    line-height: 0;
    /* position:relative; */
}
.primary-container{
    padding:34px;
     background-color:#f1f0f0;
   line-height:2;
     
      /* flex:1; */
}
.secondary-container{
   /* flex:1; */
  background-color:#f1f0f0;
  line-height:0;
   
}
.primary-container p:nth-of-type(1){
    font-size: 18px;
    
    margin: 0 0 13.5px;
    text-align: justify;
    font-weight:600;
}
.primary-container h2{
     font-size: 36px;
     font-weight: normal;
}
.primary-container p:nth-of-type(2){
      font-size: 16px;
}
.primary-container p:nth-of-type(3){
     font-size: 12px;
}

.primary-container  p:nth-of-type(3) a{
    font-size: 14px;
    border-radius:0;
    background-color: #ffea00;
    color:black;
    font-weight: 600;
    padding:14px 34px;

}
.secondary-container img{
      
    /* object-fit: cover; */
    /* object-fit: cover; */
/* width:1500px; */
/* box-sizing: border-box; */
/* flex:1; */
object-fit:cover;
height:500px;

}
@media (width >= 768px) {
    .flex-parent-container{
        flex-direction:row-reverse;
    }
    .primary-container{
        background-color:#f1f0f0;
    }
    .secondary-container p{
        padding:0;
        margin:0;
    }
   
  }

.custom-cards{
    padding:0px;
}




.container-trips,.container-articles{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    /* max-width:1200px; */
    margin: 20px auto;
    /* padding: 0 1px; */
  }
 
  .container-trips img,.container-articles img{
        width:260px;
        height:200px;
  /* margin-right: 100px; */
    }
  
  @media (width >=548px) {
    .container-trips,.container-articles{
  grid-template-columns: 1fr 1fr;
    }
  }
  @media (width >=850px) {
    .container-trips,.container-articles{
  grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media (width >=850px) {
    .container-trips,.container-articles{
  grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  
  .card-trips,.card-articles {
    /* border: 1px solid #ddd; */
    /* border-radius: 10px; */
    /* padding: 15px; */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); */
  /* } */
  
 
  .card-trips h3,.card-articles h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  

  .card-trips p,.card-articles p {
    margin: 0;
    color: #555;
    font-size: 0.9rem;
  }
 
.image-trips,.image-articles {
    max-width: 100%;
    /* height: auto; */
    /* border-radius: 10px; */
    /* margin-bottom: 10pxn */
  }

  /* .custom-cards-container .default-content-wrapper > h2{
      font-weight: normal;
      font-size:48px;
      font-family: var(--fontFamilySerif, "Asar", Georgia, "Times New Roman", Times, serif);
  } */
  /* .custom-cards-container > div:nth-of-type(3) >  h2:nth-of-type(1):after{
    font-weight: normal;
    border-bottom: 2px solid var(--brandPrimary, #ffea00);
    content: "";
    display: block;
    padding-top: 8px;
    width:84px;
} */

/* .custom-cards-container > div:nth-of-type(3) >  p:nth-of-type(1){
  font-size:18px;
}

.custom-cards-container > div:nth-of-type(3) > p:nth-of-type(1):after{
    border-bottom: 2px solid var(--brandPrimary, #e5e5e3);
    content: "";
    display: block;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 100%;
  } */

  .flex-container{
    display: flex;
    flex-direction: column;

  }
  @media (width >= 767px) {
    .flex-container{
      flex-direction: row;
  }
}
  .flex-container h2{
    font-family: var(--fontFamilySansSerif, "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif);
    font-size: var(--fontSizeMedium, 18px);
    font-weight: var(--fontWeightBold, 600);
  }


  .flex-container p:nth-of-type(1){
  color: dimgray;
    font-size: var(--fontSizeSmall, 14px);
    text-transform: uppercase;

  }

  .flex-container p:nth-of-type(2){
    background-color: #ebebeb;
    color: dimgray;
    font-size: var(--fontSizeSmall, 14px);
    padding: .5em 1em;
    text-transform: uppercase;
    width:100px;
    margin-top:35px;
    }

    .flex-container p:nth-of-type(3){
        color: dimgray;
          font-size: var(--fontSizeSmall, 14px);
          text-transform: uppercase;
          padding-top: 10px;
          
        }
  .flex-secondary-container,.flex-primary-container{
    padding:14px;
    opacity:0.7;
  }
  .flex-primary-container:before,.flex-secondary-container:before{
    
 
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    background: linear-gradient(to top left, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, 0) 50%, var(--brandPrimary, #ffea00) 50%, var(--brandPrimary, #ffea00) 100%);
    color: #000;
   
    content:  url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="28" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="12" width="18" height="24" rx="0" ry="0" fill="black"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4" fill="none"></path></svg>');
    font-family: wknd-icon-font !important;
    font-size: 1.25rem;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    padding: 9pt;
    position: relative;
    text-transform: none;
    top: 49px;
    z-index: 2;

}
   
@media (width >= 1024px) {
    .flex-primary-container,.flex-secondary-container{
      width:340px;
  }
}


/* new code */
.custom-cards.block > div > div > h2:first-of-type,h2:nth-of-type(2) {
 display: none;
}