#wknd-guides {
          font-family: var(--fontFamilySerif, "Asar", Georgia, "Times New Roman", Times, serif);
          font-weight: normal;
          margin-bottom: 13.5px;
          margin-top: 47px;
          font-size:36px;
          color:#202020;
      }
      #wknd-guides:after {
        border-bottom: 2px solid var(--brandPrimary, #ffea00);
        content: "";
        display: block;
        padding-top: 8px;
        width: 84px;
    }
  .guides p:nth-of-type(1){
      font-size:14px;
      color:#202020;
      line-height:2.5;
  }
  .yellow-container{
      background-color:#ffea00;
      width:50px;
      height:2px;
      margin-left:0;
      padding-left:0;
      float:left;  
     
  }
  .guides{
      display: grid;
      grid-template-columns: 1fr;
      text-align: center;
  }
     
     @media (min-width: 767px) {
      .guides {
        grid-template-columns: 1fr 1fr; /* 2 columns */
      }
    }
  
    @media (min-width: 1025px) {
      .guides {
        grid-template-columns: repeat(4, 1fr); /* 4 columns */
      }
    }
  .guides picture{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
  }
  .guides > div > div> picture > img{
    border-radius:50%;
    width:164px;
    height:164px;
  }
  .guides > div > div > p {
    
   display: flex;
  justify-content: center;
  background-color: #202020;
  justify-self: center;
  width:144px;
  height:48px;
  margin-top:25px;
  margin-bottom:25px;
    }
  .guides > div > div > p > picture > img{
    width:22px;
    height:22px;
    padding:12px;
  }
  .guides h3{
     font-size:24px; 
     font-family: var(--fontFamilySerif, "Asar", Georgia, "Times New Roman", Times, serif);
     font-weight: normal;
     display: flex;
      align-items: center;
      justify-content: center;
  }
  .guides h5{
      font-size:14px; 
      font-family: var(--fontFamilySerif, "Asar", Georgia, "Times New Roman", Times, serif);
      font-weight:normal;
      display: flex;
      align-items: center;
      justify-content: center;
   }
  